.login{
    display: flex;
    align-items: center;
    margin-right: 40px;
    cursor: pointer;
    font-size: 18px;
    line-height: 31px;
    letter-spacing: 0.02em;
    color: #333333;
    svg{
        margin-right: 10px;
    }
}